<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
        xmlns:android="http://schemas.android.com/apk/res/android"
        id="cordova-plugin-amazon-login-ka" version="1.0.2">
    <name>Amazon Login</name>
    <description>Amazon Login</description>
    <license>MIT</license>
    <js-module src="www/amazonlogin.js" name="AmazonLogin">
        <clobbers target="AmazonLogin" />
    </js-module>

    <platform name="android">


        <config-file target="AndroidManifest.xml" parent="/*">
            <uses-permission android:name="android.permission.INTERNET" />
            <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
        </config-file>

        <config-file target="AndroidManifest.xml" parent="/manifest/application">
            <!--<activity android:name="com.amazon.identity.auth.device.workflow.WorkflowActivity" android:theme="@android:style/Theme.NoDisplay" android:allowtaskreparenting="true" android:launchmode="singleTask">-->
            <activity android:allowTaskReparenting="true" android:launchMode="singleTask" android:name="com.amazon.identity.auth.device.workflow.WorkflowActivity" android:theme="@android:style/Theme.NoDisplay">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <!-- android:host must use the full package name found in Manifest General Attributes -->
                <data android:host="${applicationId}" android:scheme="amzn" />
            </intent-filter>
            </activity>
        </config-file>

        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="AmazonLoginPlugin">
                <param name="android-package" value="com.kanoapps.cordova.amazonlogin.AmazonLoginPlugin"/>
            </feature>
        </config-file>
        <source-file src="src/android/AmazonLoginPlugin.java" target-dir="src/com/kanoapps/cordova/amazonlogin" />
        <source-file src="src/android/login-with-amazon-sdk.jar" target-dir="libs" />
        <source-file src="src/android/api_key.txt" target-dir="assets" />
    </platform>
</plugin>
